
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html{
    font-size: 62.5%;
  }

  body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    font-size: 1.6rem;
  }

  body.login-body{
    align-items: center;
  }

  .container{
    width: 80%;
    padding: 1rem;
    border:1px solid black;
  }

  h1{
    text-align: center;
  }

  #loginForm{
    max-width: 375px;
    width: 100%;
    background: #fff;
    box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.2);
    min-height: 300px;
    position: relative;
    padding:2rem;
  }

  #loginForm div{
      position: relative;
      padding-top: 2.6rem;
  }

  #loginForm input {
      width: 100%;
      display: block;
      padding: 1rem 2.5rem;
      margin-top: .4rem;
  }

  #loginForm input:focus{
      border: 2px solid #9999FF;
      outline: none;
  }

  #loginForm button {
      display: inline-block;
      padding: 1.1rem 1.4rem;
      background-color: #000;
      color: white;
      border: none;
      border-radius: 0.4rem;
      cursor: pointer;
      font-family: inherit;
      font-weight: bold;
      margin-top: .4rem;
  }

  #loginForm i.eye{
    position: absolute;
    right: 1px;
    top: 54px;
    background: #000;
    color: #fff;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }


  #loginForm #errorMessage{
    color: red;
    text-align: center;
  }

  .error {
    border: 2px solid red;
  }


  .error-message {
    color: red;
    position: absolute; /* Hacemos los mensajes de error absolutos */
    bottom: -1.5rem; /* Los colocamos debajo del input */
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
  }


  #personForm{
    position:absolute;
    left:10px;
    top:10px;
    background-color: rgb(197, 197, 197);
    width: 400px;
    padding: 1rem 3rem;
    border-radius: 2rem;
    transition: background-color 0.3s, border 0.3s;
  }

  #personForm * {
    width: 100%;
    display: block;
    padding: 1rem 2.5rem;
  }

  #personForm button{
    cursor: pointer;
  }

  #personForm input{
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 2.5rem;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 1rem;
    font-family: inherit;
  }

  #personForm input:focus {
    outline: 3px solid #9999FF;
    background: #fff;
    color: #000;
  }

  .drag{
    cursor: grab;
    background-color: #ffcccc;
    border: 2px dashed #000;
  }

  dialog::backdrop {
    backdrop-filter: blur(3px);
}

  .emergentes{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    line-height: 2rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
  }

  #customDialogError{  
    width: 300px;
    min-height: 200px;
    background: rgb(189, 19, 19);
    color: #fff;   
  }

  #customDialogError #close-button, #customDialogConfirm #close-button-confirm{
    position: absolute;
    right: 10px;
    top:10px;
    cursor: pointer;
    font-size: 2rem;
  } 

  #customDialogConfirm{
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: #fff;
    flex-direction: column;
  }

  #customDialogConfirm p{
    padding-top: 3rem;
  }

  #customDialogConfirm .fa-exclamation{
    color: orange;
    font-size: 2rem;
    border:2px solid orange;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
  }

  #customDialogConfirm div:nth-of-type(1){
    padding: 1rem 0;
  }

  #customDialogConfirm .buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  #customDialogConfirm .buttons button{
    margin: 1rem 0;
    cursor: pointer;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 1rem 2rem;
  }

  #customDialogConfirm .buttons button:hover{
    opacity: 0.7;
  }

  #customDialogConfirm .buttons button:nth-child(1){
    background-color: rgb(20, 172, 99)
  }

  
  #customDialogConfirm .buttons button:nth-child(2){
    background-color: rgb(243, 27, 56)
  }

  #peopleList{
    display: flex;
    flex-wrap: wrap;
  }

  #peopleList div{
    width: 48%;
    background:#9999FF;
    text-align: center;
    color: #fff;
    padding: 1rem 0;
    border: 2px solid #fff;
    font-weight: bold;
  }

  #peopleList i{
    width: 2%;
    background:#9999FF;
    border: 2px solid #fff;
    text-align: center;
    line-height: 250%;
    cursor: pointer;
  }

#toast {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1000;
    opacity: 0;
    transition: top 0.5s ease, opacity 0.5s ease; 
}
        
#toast.show {
    top: 20px;
    opacity: 1;
}